# Auto detect text files and perform LF normalization
* text=auto

# Text files
*.md text
*.txt text

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text
*.css text
*.json text
*.yml text
*.yaml text
*.xml text

# Binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary